body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 50%;
}

.container h1 {
  margin-bottom: 2em;
}

input[type="radio"] {
  margin-right: 1em;
}

table {
  margin-top: 3em;
}

.btn-link {
  padding: 0px;
}
